

body{
    text-align: center ;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(145, 153, 32);    
    justify-content: center;
    align-items:center ;
    height: 100vh;
   
}
header{
    background-color: rgb(211, 111, 53);
    text-align: center; /* Centrar el contenido del header */
    padding: -05px ; /* Espacio vertical dentro del header */
    width: 100%;
    position: relative; /* Asegura que el header esté posicionado correctamente */
    top: -05px;
    border-radius: 15px;
    font-family: fantasy;
    border: 5px;
    
}
footer{
    justify-content: center;
    padding-top: 0.5em;
    background-color: rgb(0, 255, 55);
    width: 100%;
}
main{
    
    display: flexbox;
    justify-content: center;   
}
.cardPregunta {
    font-family: cursive;
    justify-content: center;
    align-items: center;
    background-color: rgb(92, 148, 78);
    margin-bottom: 1cm;
    border-radius: 12px;
    padding: 10px; /* Opcional: añadir espacio dentro de cada tarjeta */
}
.btn {
    text-align: center;
    justify-content: center;
    align-items: center;
    display: block; /* Hace que los botones se apilen verticalmente */
    width: 30%; /* Hace que los botones ocupen el ancho completo del contenedor */
    margin-bottom: 10px; /* Añade espacio entre los botones */
    padding: 10px; /* Ajusta el espacio interno del botón */
    background-color: rgb(32, 99, 201);
    border: none;
    border-radius: 15px;
    cursor: pointer;
}
.btn:hover {
    background-color: darkgray; /* Añade un efecto hover opcional */
}
#respuesta {
    display: flex;
    flex-direction: column; /* Apila los botones verticalmente */
    align-items: center; /* Centra los botones horizontalmente */
}
.oculto {
    display: none;
}
.correcto {
    background-color: green;
    color: white;
}

.incorrecto {
    background-color: red;
    color: white;
}