body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-fira-sans: "Fira Sans";
  --font-playfair-display: "Playfair Display";
  --font-inter: Inter;

  /* font sizes */
  --font-size-sm: 14px;
  --font-size-lg: 18px;
  --font-size-37xl: 56px;
  --font-size-3xl: 22px;
  --font-size-xs: 12px;
  --font-size-89xl: 108px;
  --font-size-53xl: 72px;

  /* Colors */
  --color-white: #fff;
  --color-gray-100: #1c1917;
  --color-whitesmoke-100: #fafaf9;
  --color-darkorange: #f97316;
  --color-dimgray: #78716c;
  --color-gainsboro: #e7e5e4;
  --color-papayawhip: #ffedd5;

  /* Gaps */
  --gap-13xl: 32px;
  --gap-5xl: 24px;
  --gap-xs: 12px;
  --gap-9xs: 4px;
  --gap-21xl: 40px;
  --gap-base: 16px;
  --gap-5xs: 8px;

  /* Paddings */
  --padding-45xl: 64px;
  --padding-base: 16px;
  --padding-5xl: 24px;
  --padding-9xs: 4px;
  --padding-101xl: 120px;
  --padding-13xl: 32px;
  --padding-5xs: 8px;
  --padding-xs: 12px;

  /* Border radiuses */
  --br-5xs: 8px;
  --br-13xl: 32px;
  --br-29xl: 48px;
}
